<?xml version="1.0"?>

<model>
  <name>blue_ball</name>
  <version>1.0</version> 
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Amshu Kiran Belbase</name>
    <email>ab0667@srmist.edu.in</email>
  </author>

  <description>
    Ball model for Arena for Robocon.
  </description>
</model>
